.container{
    background-color: beige;
    padding: 10px;
    width: '100%';
    height: calc(100vh - 20px);
    margin-top: 80px;
}

.titulo{
    text-align: center;
}

.label{
    font-weight: bold;
}

.imagem{
    width: 150px;
    height: 150px;
}

.containerInterno{
    background-color: #BDB76B;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 4px -2px 15px -4px #000000; 
    box-shadow: 4px -2px 15px -4px #000000; 
  }
  
.containerImagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerParcela{
    margin: 20px !important;
    padding: 20px !important;
    background-color: #BDB76B;
    max-width: '90%';
    border-radius: 20px;
    -webkit-box-shadow: 4px -2px 15px -4px #000000; 
    box-shadow: 4px -2px 15px -4px #000000;
}

.containerInternoParcela{
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
}

.areaCard{
    display: flex;
    justify-content: space-around;
}

  .titulo{
    margin-top: 80px !important;
  }